<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit customer</title>
</head>
<body>
<h1>Edit customer</h1>
<p>
    <a href="/employee">employee list</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/edit-employee}" th:object="${employee}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td>First name:</td>
            <td><input type="text" th:field="*{getNameEmployee()}"/></td>
        </tr>
        <tr>
            <td>birth day</td>:</td>
            <td><input type="text" th:field="*{getBirthDate()}"/></td>
        </tr>
        <tr>
            <td>Address</td>:</td>
            <td><input type="text" th:field="*{getAddress()}"/></td>
        </tr>
        <tr>
            <td>salary</td>:</td>
            <td><input type="text" th:field="*{getSalary()}"/></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Update customer"></td>
        </tr>
    </table>
</form>
</body>
</html>