<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/create-employee">Create new customer</a>
<h1>Customers</h1>
<form>
    Search by first name:
    <input name="s" type="text"/>
    <input type="submit" value="Search"/>
</form><br/>
<table border="1">
    <tr>
        <th>name</th>
        <th>birth day</th>
        <th>address</th>
        <th>salary</th>
        <th></th>
        <th></th>
    </tr>
    <th:block th:each="employee : ${employees}">
        <tr>
            <td th:text="${employee.getNameEmployee()}"></td>
            <td th:text="${employee.getBirthDate()}"></td>
            <td th:text="${employee.getAddress()}"></td>
            <td th:text="${employee.getSalary()}"></td>
            <td><a th:href="@{/edit-employee/__${employee.id}__ }">Edit</a></td>
            <td><a th:href="@{/delete-employee/__${employee.id}__ }">Delete</a></td>
        </tr>
    </th:block>
</table>